
<div class ="event_title">
	<h3><%= @event.name %></h3>
</div>


<%= @price %>
 

<div class="row">
	<div class =" event_left small-3 medium-3 columns">
	<div>
		<h5>
		
			Organisateur:<%= @event.user.first_name %> <%= @event.user.last_name %>
		</h5>

	<h5>
		Date:<%= @event.event_date %> | Heure: <%= @event.hour %>
	</h5>

	<h5>
		Adresse:<%= @event.address %>
	</h5>

	<h5>
		Lieu:<%= @event.venue %>
	</h5>

	<h5>
		Participants: <%= @event.participations.count %> / <%= @event.places %>
	</div>
	</div>
	
	<div class ="event_center small-6 medium-6 columns"><h5>Description:</h5>
		<p>
			<%= @event.description %>
			Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
		</p>
	</div>
	
	<div class="event_right small-3 medium-3 columns">
	<h5>Participation: <%= @event.cost %>€</h5>
	<h5><%= link_to 'Participer', participate_event_path, method: :post %></h5>
	</div>
</div>

</div>



