<div class ="row">
	<div class ="event_title ">
		<h3><%= @event.name %></h3>
	</div>
</div>
<div class="row">
	<div class =" event_left small-3 columns">
		<div>
			<h5>
				Organisateur:<%= find_email(@event.user_id) %> 
			</h5>
			<h5>
				<% if @event.event_date.blank? %>
						<%= "Date non déterminé" %>
				<% else %>
						Date:<%= @event.event_date.strftime("%d/%m/%Y") %> | Heure: <%= @event.hour %>
				<% end %>
			</h5>
			<h5>Adresse:<%= @event.address %></h5>
			<h5>Lieu:<%= @event.venue %></h5>

			<h5>Participants: <%= @event.participations.count %> / <%= @event.places %></h5>
		</div>
	</div>
	
	<div class ="event_center small-6 columns">

		<div class ="imag_show">
			<%= image_tag @event.avatar.url(:medium) %>
		</div>


		<h5>Description:</h5>
		<p>
			<%= @event.description %>
			Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens retinere permissa est. ideoque carnifex nefas admisisse convictus inmane, vivus exustus est.
		</p>
	</div>
	
	<div class="event_right small-3 columns">
		<h5>Participation: <%= @event.cost %>€</h5>
		<% if current_user.participations.where(event_id: @event.id) != [] %>
		<h5><%= link_to 'je ne Participe plus', delete_participation_path(@event.id), method: :post %></h5>
		<%else%>
		<h5><%= link_to 'Participer', create_participation_path(@event.id), method: :post %></h5>
		<% end %>

		<h5><%= link_to 'Effacer soirée', delete_event_path, method: :delete %></h5>

		<% if current_user.id == @event.user_id %>
		<h5><%= link_to 'Editer un évenement', edit_event_path %></h5>
		<% else %>
				
		<% end %>

		<%= render 'comments/new' %>

		<%= render 'comments/index'%>

  </div>
</div>






